@model MMSalgados.WebUI.ViewModels.Produto.EditViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = TipoLayout.LAYOUT_DASHBOARD;
}

<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Produto/</span> Editar Produto</h4>

<!-- Basic Layout -->
<div class="row">
    <div class="col-xl">
        <div class="card mb-4">
            <div class="card-header bg-secondary">
                <h5 class="mb-0">Editar Produto</h5>
            </div>
            <div class="card-body">
                <br />
                <form asp-controller="produto" asp-action="edit" method="post" enctype="multipart/form-data">
                    <input asp-for="Id" hidden />
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label asp-for="Tipo" class="control-label">Categoria</label>
                            <input asp-for="Tipo" class="form-control" />
                            <span asp-validation-for="Tipo" class="text-danger"></span>
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            <label asp-for="Preco" class="control-label">Preço</label>
                            <input asp-for="Preco" class="form-control" />
                            <span asp-validation-for="Preco" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label asp-for="Descricao" class="control-label">Detalhes do Produto</label>
                            <input asp-for="Descricao" class="form-control" />
                            <span asp-validation-for="Descricao" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label class="control-label">Inserir Imagem</label>
                            <input name="Image" type="file" class="form-control" />
                        </div>
                    </div>
                    <div class="text-right">
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <a asp-action="index" asp-controller="produto" class="btn btn-secondary">
                            <span class="tf-icons bx bx-arrow-back"></span>&nbsp; Voltar
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")
